capacitor-google-maps{
    position: absolute;
    display: inline-block;

   
    width: 100%;
    height: 100%;

}

#logo{
position: relative;
width: 500px;
margin-left: 0px;
height: 20px;
}

#logoo{

width: 50%;
}

#logooo{

    width: 70%;
    margin-left: -140px;
    margin-top: -40px;
    }
    

#boton1{
    position: absolute;
    margin-top: 520px;
    
}