<ion-header>
  <ion-toolbar id="main-content" color="morado">
    <h2 class="ion-text-center">Inicio</h2>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Card Asistencia -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Asistencia</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <ion-row>

        <ion-col size="1">

        </ion-col>

        <ion-col size="10">

          <ion-img src="./assets/fotos/img-asistencia.png" size="500x500"></ion-img>
          
        </ion-col>

        <ion-col size="1">
        </ion-col>

      </ion-row>
      

      <ion-row>

        <ion-col size="2">

        </ion-col>

        <ion-col size="8">
          <ion-button routerLink="/asistencia"  expand="block" fill="clear" shape="round">
            Ir a Asistencia
          </ion-button>
        </ion-col>

        <ion-col size="2">

        </ion-col>

      </ion-row>

    </ion-card-content>
  </ion-card>

  <!-- Card Asistencia -->

  <!-- Card Ubicación -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sedes</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <ion-row>

        <ion-col size="1">

        </ion-col>

        <ion-col size="10">

          <ion-img src="./assets/fotos/MapaImg.jpg" size="500x500"></ion-img>
          
        </ion-col>

        <ion-col size="1">
        </ion-col>

      </ion-row>
      

      <ion-row>

        <ion-col size="2">

        </ion-col>

        <ion-col size="8">
          <ion-button routerLink="/inicio"  expand="block" fill="clear" shape="round">
            Ver ubicación
          </ion-button>
        </ion-col>

        <ion-col size="2">

        </ion-col>

      </ion-row>

    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="startScan()">
    <ion-icon slot="start" name="qr-scanner"></ion-icon>
    Escanear QR 
  </ion-button>
  <ion-button expand="full" (click)="reset()" color="warning" *ngIf="scanResult">
    <ion-icon slot="start" name="refresh"></ion-icon>
    Resetear
  </ion-button>

  <video #video [hidden]="!scanActive" width="100%"></video>
  <canvas #canvas [hidden]></canvas>


  <ion-button expand="full" (click)="stopScan()" color="danger" *ngIf="scanActive">
    <ion-icon slot="start" name="close"></ion-icon>
    Detener Escaneo
  </ion-button>

  <ion-card *ngIf="scanResult">
    <ion-card-header>
      <ion-card-title>Código QR</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{scanResult}}
    </ion-card-content>
  </ion-card>


</ion-content>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="morado">
      <h2 class="ion-text-center">Menú</h2>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-menu-toggle>

      <ion-item routerLink="/dashboard" button>
        <ion-label class="ion-text-center">Inicio</ion-label>
      </ion-item>
      
      <ion-item button>
        <ion-label routerLink="/inicio" class="ion-text-center">Sedes</ion-label>
      </ion-item>
      
      <br><br><br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <ion-button (click)="onClick()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>


    </ion-menu-toggle>
  </ion-content>
  <ion-footer>
    <ion-toolbar color="morado">
    </ion-toolbar>
  </ion-footer>
</ion-menu>